<h2>Emails</h2>

<table cellpadding="0" class="emails">
  <col width="25px" />
  <col width="200px" />
  <col width="402px" />
  <col width="25px" />
  <col width="85px" />
<% emails.each(function (email) { %>
  <% currentDate = new Date(email.get('created_at')) %>
  <% if (Date.sameDays(date, currentDate)) { %>
  <%    timeStamp = (currentDate.getHours() > 11) ? " pm" : " am" %>
  <%    hour = (currentDate.getHours() === 0) ? 12 : (currentDate.getHours() % 12) %>
  <%    minutes = currentDate.getMinutes() %>  
  <%    minutes = (minutes === minutes % 10) ? "0" + (minutes) : minutes %>
  <%    currentDate = (hour) + ":" + minutes + timeStamp %>
  <% } else { %>
  <%    currentDate = currentDate.getShortMonthName() + " " + currentDate.getDate(); %>
  <% } %>
    <tr class="email" id="<%= email.id %>">
      <td>
        <%= JST['gmail/checkbox']({ theEmail : email }) %>
      </td>
      <td>
        <%= email.get('sender_address')%>
      </td>
      <td> 
        <%= (email.get('title') + " - " + email.get('content')).substring(0,60)  %>
      </td>
      <td>
      </td>
      <td>
        <%= currentDate %></a>
      </td>
    </tr>
<% }); %>
</table>
